@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
section
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111;
    transition: 0.5s;
}
header
{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
display: flex;
justify-content: space-between;
align-items: center;
}

header .logo
{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(menu.png)

}